.control {
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.control-group {
  justify-content: space-between;
}

.image-controls {
  align-items: start;
}

#image-upload {
  display: none;
}
